header {
    background-color: rgba(250, 170, 250, 0.733);
    padding: 20px 0 ;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.logo{
    width: 20%;
    border-radius: 50%;
}
nav{
    position: absolute;
    top:110px;
    right: 0;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
   

}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px; 
}
.productocup1{
    width: 20%;
}

.productocup2{
width: 25%;
}
.productocup3{
 width: 30%;
}
.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;

}
.productos-descripcion{
font-size: 18px;

}
.productos-precio {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;

}